<span>&copy; 2009 Agile Philanthropy All Rights Reserved.</span>
<div id="menu-footer" class="right">
<ul>
  <li><a href="/footer_nav/site_map">Site Map</a></li>
  <li><a href="/footer_nav/contact">Contact Us</a></li>
</ul>